// COLOUR SCHEME
$green: #008080;
$blue: #000082;
$grey: #c3c3c3;
$yellow: #ffffcc;
$black: #000;
$white: #fff;
$darkgrey: #808080;


// COLOUR MAP
$colour-list: (
    "green": $green,
    "blue": $blue,
    "yellow": $yellow,
    "black": $black,
    "grey": $grey,
    "white": $white,
    "darkgrey": $darkgrey,
);

@each $name, $hex in $colour-list {


    .bg-#{$name} {
        background-color: $hex;
    }

    .c-#{$name} {
        color: $hex;
    }

    .hover-c-#{$name} {
        transition: .2s;
        &:hover,
        &:focus {
            color: $hex;
        }
    }

}
