// Global HTML DOM elements - layout & structural

html, body {
  background-color: $green;
  scroll-behavior: smooth;
}

html.menu__open {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 37px;
  @include breakpoint('small-laptop') {
      padding-top: 0;
  }
}

.table--scrollable {
  overflow-x: auto;
  table {
    min-width: 600px;
  }
}

table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  text-align: center;
}

th {
  background: $blue;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  padding: .5rem;
}

tr {
  + tr {
      td {
        border-top: 1px solid $grey;
      }
  }
}

td {
  padding: .5rem;
}

blockquote {
  position: relative;
  margin: 1rem 0;
  padding: 1rem 0;
  border: 2px solid $green;
  border-width: 2px 0;

  &:before {
      position: absolute;
      content: '\e977';
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding-right: 1rem;
      margin: 1rem 0;
      border-right: 2px solid $green;
      color: $green;
      font-family: 'icomoon';
      @include fontSize(56px);
  }

  & > * {
      position: relative;
      left: calc(65px);
      width: calc(100% - 65px);
      padding-left: 1rem;
  }
}

select {
    color: $blue;
    @include fontSize(16px);
    padding: .5rem 2rem .5rem .85rem;
    appearance: none;
    background: $white url('~assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: calc(100% - .75rem) 50%;
    border: 1px solid $grey;
    font-weight: 400;
    cursor: pointer;
    &.bg-primary {
        color: $white;
        background: $blue url('~assets/icons/down-arrow-white.svg');
        background-repeat: no-repeat;
        background-size: 13px 13px;
        background-position: calc(100% - .75rem) 50%;
    }
}

[data-tooltip] {
   position: relative;

   &:hover {
     &:after {
       opacity: 1;
       visibility: visible;
       transition-delay: 1.25s;
     }
   }

   &:after {
     content: attr(data-tooltip);
     position: absolute;
     bottom: calc(-100% - .5rem);
     left: 0;
     background: $yellow;
     color: $black;
     border: 1px solid $black;
     text-align: left;
     padding: .05rem;
     white-space: nowrap;
     opacity: 0;
     visibility: hidden;
   }

   &[data-tooltip-position*="top"] {
     &:after {
       top: calc(-100% - .5rem);
       bottom: auto;
     }
   }

   &[data-tooltip-position*="left"] {
     &:after {
       right: 0;
       left: auto;
     }
   }
 }

.content {

  &__article > p {
    padding: 1rem 0;
  }

  .video-js {
    height: auto;
    width: 100%;
  }
}

