/*
*   Site widths
*/

$content: 1380px;
$article: 900px;

/*
*   Breakpoints
*   - Named
*   - Custom single use
*/

$breakpoints: (
    'small-phone': 360px,
    'phone': 480px,
    'tablet': 640px,
    'landscape-tablet': 768px,
    'article': $article,
    'small-laptop': 1000px,
    'desktop': 1232px,
);

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        /* Custom endpoint, e.g. breakpoint(450px) */
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}