/*
*   Site widths
*/

$content: 1380px;
$article: 900px;

/*
*   Breakpoints
*   - Named
*   - Custom single use
*/

$breakpoints: (
    'small-phone': 360px,
    'phone': 480px,
    'tablet': 640px,
    'landscape-tablet': 768px,
    'article': $article,
    'small-laptop': 1000px,
    'desktop': 1232px,
    'large-desktop': 1366px,
    'content': $content,
    'uncommon-desktop': 1500px,
    '4k': 1920px,
);

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        /* Custom endpoint, e.g. breakpoint(450px) */
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

/*
*   Site width classes
*/

.max-body-width {
    max-width: 1920px;
    margin: 0 auto;
}

.max-content-width {
    max-width: $content;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.max-article-width {
    max-width: $article;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    &--aside {
        max-width: calc(#{$article} - 1rem);
    }
}

@include breakpoint('small-laptop') {
    .sidebar {
        max-width: calc(#{$content} - #{$article} - 1rem);
    }
}

@include breakpoint('article') {

    .max-article-width {
        padding-left: 0;
        padding-right: 0;
    }

}

@include breakpoint('content') {

    .max-content-width {
        padding-left: 0;
        padding-right: 0;
    }

}