$directions: (
    "up": translateY(50px),
    "down": translateY(-50px),
    "right": translateX(-50px),
    "left": translateX(50px),
);

/*
*   CSS animations
*   e.g. animation: fade-in;
*/

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
}

@each $direction, $transform in $directions {

    @keyframes fade-in-#{$direction} {
        from {
            opacity: 0;
            transform: $transform;
        }
        to {
            opacity: 1;
            transform: translate(0);
        }
    }
}

.reorder-move {
    transition: .3s;
}


/*
*   Animation mixin
*   Set up with animation-fill-mode: both; to allow fade delays to work
*   seemlessly without messing with the element's opacity
*/

@mixin animation($name, $duration: .2s, $easing: ease-in-out, $delay: 0s, $iteration: 1, $direction: normal) {
    animation: $name $duration $easing $delay $iteration $direction both;
}
