@mixin fontSize($size) {
    font-size: $size;
    line-height: $size * 1.2;
}

@font-face {
    font-family: windows;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/MicrosoftSansSerif.woff'),
         url('~assets/fonts/MicrosoftSansSerif.woff2'),
  }

  @font-face {
    font-family: windows;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/MicrosoftSansSerifBold.woff'),
         url('~assets/fonts/MicrosoftSansSerifBold.woff2'),
  }

/*
*   Base font styles
*/

$headingFont: windows, sans-serif;
$bodyFont: windows, sans-serif;

html,
body {
    font-family: $bodyFont;
    @include fontSize(15px);
    font-weight: normal;
    color: $black;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-weight: normal;
    font-style: normal;
}

button,
label,
input,
textarea,
select,
option,
ul.tree-view,
.window,
.title-bar,
.tf-body,
.tf-heading {
    font-family: $bodyFont;
    -webkit-font-smoothing: antialiased;
    @include fontSize(14px);
}
